<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.notepad.mapper.FavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.notepad.entity.Favorite" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="FAVORITE_DESC" property="favoriteDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, USER_CODE, CREATE_TIME, FAVORITE_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from favorite
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据用户名查询全部收藏夹 -->
  <select id="findFavroites" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from favorite
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from favorite
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.notepad.entity.Favorite" >
    insert into favorite (ID, NAME, USER_CODE, 
      CREATE_TIME, FAVORITE_DESC)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{favoriteDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.notepad.entity.Favorite" >
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="favoriteDesc != null" >
        FAVORITE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteDesc != null" >
        #{favoriteDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.notepad.entity.Favorite" >
    update favorite
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteDesc != null" >
        FAVORITE_DESC = #{favoriteDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.notepad.entity.Favorite" >
    update favorite
    set NAME = #{name,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FAVORITE_DESC = #{favoriteDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>