<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexun.personalcms.mapper.TsReadCountMapper" >
  <resultMap id="BaseResultMap" type="com.hexun.personalcms.entity.TsReadCount" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CONTENT_ID" property="contentId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TS_COUNT" property="tsCount" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CONTENT_ID, USER_ID, TS_COUNT, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ts_read_count
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ts_read_count
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hexun.personalcms.entity.TsReadCount" >
    insert into ts_read_count (ID, CONTENT_ID, USER_ID, 
      TS_COUNT, CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{contentId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{tsCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hexun.personalcms.entity.TsReadCount" >
    insert into ts_read_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contentId != null" >
        CONTENT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="tsCount != null" >
        TS_COUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tsCount != null" >
        #{tsCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hexun.personalcms.entity.TsReadCount" >
    update ts_read_count
    <set >
      <if test="contentId != null" >
        CONTENT_ID = #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tsCount != null" >
        TS_COUNT = #{tsCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hexun.personalcms.entity.TsReadCount" >
    update ts_read_count
    set CONTENT_ID = #{contentId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TS_COUNT = #{tsCount,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  <!-- 根据内容ID查询 -->
  <select id="findTsReadCountByContentId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ts_read_count
    where CONTENT_ID = #{id,jdbcType=VARCHAR}
  </select>
</mapper>