<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexun.personalcms.mapper.TsUserMapper" >
  <resultMap id="BaseResultMap" type="com.hexun.personalcms.entity.TsUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="EMALL" property="emall" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="USER_DESC" property="userDesc" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EDIT_TIME" property="editTime" jdbcType="TIMESTAMP" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_CODE, EMALL, PHONE, USER_DESC, LEVEL, CREATE_TIME, EDIT_TIME, 
    PASSWORD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ts_user
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ts_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hexun.personalcms.entity.TsUser" >
    insert into ts_user (ID, USER_NAME, USER_CODE, 
      EMALL, PHONE, USER_DESC, 
      LEVEL, CREATE_TIME, EDIT_TIME, 
      PASSWORD)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{emall,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{userDesc,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hexun.personalcms.entity.TsUser" >
    insert into ts_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="emall != null" >
        EMALL,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="userDesc != null" >
        USER_DESC,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="editTime != null" >
        EDIT_TIME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="emall != null" >
        #{emall,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hexun.personalcms.entity.TsUser" >
    update ts_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="emall != null" >
        EMALL = #{emall,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        USER_DESC = #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hexun.personalcms.entity.TsUser" >
    update ts_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      EMALL = #{emall,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      USER_DESC = #{userDesc,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 登录 -->
  <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ts_user
    where 1=1
    <if test="userCode != null and password != null">
    	and (user_Code = #{userCode,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR})
    	or (phone = #{userCode,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR})
    	or (EMALL = #{userCode,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR})
    </if>
  </select>
  
  
  <select id="findUserByPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ts_user
    where 1=1
    <if test="userCode != null and userCode !=''" >
    	and USER_CODE like '%${userCode}%'
    </if>
    order by create_time desc
    <!-- 分页 -->
    <if test="page_sql != null and page_sql !=''"  >
       ${page_sql}
    </if>
  </select>
</mapper>